<script type="text/x-handlebars-template" id="candies-main-template">
  <div class="well">
    <div class="row">
      <div class="span4">
        <form action="" class="navbar-search">
          <input type="text" class="search-query" placeholder="Search">
        </form>
      </div>
      <div class="span5 text-right">
        <span class="label label-info ">{{ __ "Add your Candy!" }}</span>|
        <a id="newCandy" class="btn pull-right" href="#new-candy"><i class="icon-plus-sign"></i></a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="span10">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>{{ __ "Nombre" }}</th>
              <th>{{ __ "Descripción" }}</th>
              <th>{{ __ "Versión" }}</th>
            </tr>
              {{# each candies }}
                <tr>
                  <td><a href="{{ Candy.url }}" target="blank">{{ Candy.name }}</a></td>
                  <td>{{ Candy.description }}</td>
                  <td>{{ Candy.version }}</td>
                </tr>
              {{/ each }}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        
      </div>
    </div>
  </div>
  <div >
  </div>
</script>
